html, body {
    font-family: "microsoft yahei";
    height: 100%;
    background: #fff;
}

.container {
    min-width: 1366px;
    height: 100%;
    position: relative;
    background: url("../images/main-bg2.jpg") top center;
    background-size: 100% 100%;
}

.head {
    height: 60px;
    background: rgba(0, 0, 0, 0.4);
}

.head .logo {
    height: 40px;
    width: auto;
    margin-top: 10px;
    margin-left: 45px;
    float: left;
}

.head .nav {
    float: left;
    margin-left: 90px;
}

.head .nav > li > a {
    position: relative;
}

.head .nav > li a > img {
    width: auto;
    height: 18px;
}

.head .nav .mobile-chat #qrcode {
    border: 10px solid #eb6200;
    width: 120px;
    height: auto;
    position: absolute;
    left: -70px;
    top: 80px;
    margin-left: 50%;
    background: #eb6200;
    text-align: center;
    border-radius: 8px;
    transition: 0.5s ease;
    opacity: 0;
    z-index: -1;
}

.head .nav .mobile-chat #qrcode::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -5px;
    border: 10px transparent solid;
    border-bottom: 10px #eb6200 solid;
}

.head .nav > li a:hover > #qrcode {
    display: block;
    transform: translateY(-35px);
    opacity: 1;
    z-index: 5;
}

.head .nav > li {
    float: left;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.head .nav > li:first-child {
    margin-left: 0;
}

.head .nav > li > a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.head .nav > li > a.active,
.head .nav > li > a:hover {
    background-color: #7c5000;
}

.head .login {
    background: #855c10;
    float: right;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 4px;
    margin-top: 16px;
    margin-right: 60px;
    display: none;
}

.head .nav-user-info {
    float: right;
    line-height: 60px;
    color: #ffc200;
    display: none;
    margin-right: 60px;
}

.head .nav-user-info #nav-username {

}

.head .nav-user-info #nav-username > img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    top: -2px;
    cursor: pointer;
}

.head .nav-user-info a {
    border: none;
    padding: 5px 15px;
    color: #fff;
    background: #855c10;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
}

.head .login:hover, .head .nav-user-info a:hover {
    background: #7c5000;
}

.body {
    position: absolute;
    top: 70px;
    bottom: 0px;
    width: 100%;
}

.left-sidebar {
    width: 257px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    border-top-right-radius: 10px;
    overflow: hidden;
}

.left-sidebar .left-sidebar-title {
    height: 50px;
    background: #4b350c;
    line-height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e0cd01;
    font-size: 20px;
}

.left-sidebar .left-sidebar-title > img {
    vertical-align: middle;
    height: 30px;
    width: auto;
    margin-right: 10px;
    cursor: pointer;
}

.left-sidebar .left-sidebar-title > img:active {
    opacity: 0.8;
}

.left-sidebar .select-room-container {
    width: 100%;
    height: 240px;
    background: #7C5000;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 3;
    display: none;
}

.left-sidebar .select-room-container .room-item {
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    border-bottom: 1px #888 solid;
}

.left-sidebar .left-sidebar-title span img {
    vertical-align: middle;
    height: 22px;
    width: auto;
    margin-left: 20px;
    margin-right: 10px;
}

.left-sidebar .left-sidebar-search {
    width: 214px;
    height: 26px;
    margin: 0 auto;
    border: 2px solid #a99b78;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 20px;
}

.left-sidebar .left-sidebar-search > input {
    width: 195px;
    height: 24px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
}

.left-sidebar .left-sidebar-search img {
    cursor: pointer;
}

.left-sidebar .left-sidebar-user-list {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
}

.left-sidebar .left-sidebar-user-list .info {
    padding-left: 10px;
    font-size: 14px;
    color: #e7d600;
}

.left-sidebar .left-sidebar-user-list .user-list {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.left-sidebar .left-sidebar-user-list .user-list .item {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #443d2d;
    padding-left: 10px;
    font-size: 14px;
}

.left-sidebar .left-sidebar-user-list .user-list .item .user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.left-sidebar .left-sidebar-user-list .user-list .item .user-name {
    display: inline-block;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.left-sidebar .left-sidebar-user-list .user-list .item .user-level {
    margin-left: 15px;
    text-align: right;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.left-sidebar .left-sidebar-user-list .user-list .item .user-icon-admin {
    background: url("../images/user_level_icon.png") center top no-repeat;
    background-size: 100% auto;
}

.left-sidebar .left-sidebar-user-list .user-list .item .user-icon-plan {
    background: url(../images/user_level_icon.png) center -35px no-repeat;
    background-size: 100% auto;
}

.left-sidebar .left-sidebar-user-list .user-list .item .user-icon-vip {
    background: url(../images/user_level_icon.png) center -69px no-repeat;
    background-size: 100% auto;
}

.left-sidebar .left-sidebar-user-list .user-list .item .user-icon-nomal {
    background: url("../images/user_level_icon.png") center bottom no-repeat;
    background-size: 100% auto;
}

.left-sidebar .left-sidebar-user-list .user-list .item .user-level > img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.right-sidebar {
    width: 450px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    border-top-left-radius: 10px;
    overflow: hidden;
}

.right-sidebar .tab-bar {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-sidebar .tab-bar > a {
    color: #fff;
    background: #855c10;
    margin-left: 8px;
    padding: 8px 10px;
    border-radius: 6px;
}

.right-sidebar .tab-bar > a:hover {
    background: #7c5000;
}

.middle-container {
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 267px;
    right: 460px;
    bottom: 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.middle-container .middle-wellcom {
    height: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #c8a762;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.middle-container .middle-wellcom > img {
    height: 30px;
    margin-left: 20px;
}

.middle-container .middle-wellcom .proclamation {
    white-space: nowrap;
    position: absolute;
    top: 5px;
    left: 70px;
    right: 30px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.middle-container .middle-wellcom .proclamation li {
    float: left;
    margin-right: 20px;
}

.middle-container > .middle-wellcom a {
    color: #fff000;
}

.middle-container .middle-content {
    width: 100%;
    position: absolute;
    top: 40px;
    bottom: 176px;
    background: transparent;
    overflow: hidden;
}

.middle-container .middle-content .history-msg-tips {
    height: 24px;
    width: 125px;
    font-size: 10px;
    color: #ddd;
    background: rgba(199, 199, 199, 0.3);
    border-radius: 12px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -88px;
}

.middle-container .middle-content .at-msg-tips {
    height: 30px;
    background: rgba(241, 126, 2, 0.22);
    color: #fff000;
    line-height: 30px;
    font-size: 16px;
    padding: 0 1em;
    position: absolute;
    top: 10px;
    left: 17px;
    cursor: pointer;
    z-index: 2;
    display: none;
}

.middle-container .middle-content > .at-msg-tips:hover {
    opacity: 0.8;
}

.middle-container .middle-content > .float-right-tools {
    float: right;
    margin-top: 20px;
    margin-right: 23px;
    position: relative;
    z-index: 3;
}

.middle-container .middle-content > .float-right-tools a {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 14px;
}

.middle-container .middle-content > .float-right-tools a > img {
    width: 28px;
    height: auto;
    margin-bottom: 5px;
}

.middle-container .middle-content > .msg-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 70px 20px 20px;
}

.middle-container .middle-content > .have-more-message {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    display: none;
    opacity: 0.6;
    animation: shake 0.3s ease infinite alternate;
}

@keyframes shake {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

.middle-container .middle-content > .msg-container .re-call-msg {
    text-align: center;
}

.middle-container .middle-content > .msg-container .re-call-text {
    display: inline-block;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.20);
    border-radius: 13.5px;
    color: rgba(255, 255, 255, 0.25);
    padding: 5px 15px;

}

.middle-container .middle-content > .msg-container .msg-item {
    position: relative;
    color: #fff;
    overflow: hidden;
    margin-top: 20px;
    font-size: 14px;
}

.middle-container .middle-content > .msg-container .msg-item > .msg-user-icon, .middle-container .middle-content >
.msg-container .msg-item > .msg-info {
    float: left;
}

.middle-container .middle-content > .msg-container .msg-item > .msg-user-icon > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.middle-container .middle-content > .msg-container .msg-item > .msg-info {
    margin-left: 35px;
    max-width: 460px;
}

.middle-container .middle-content > .msg-container .msg-item > .msg-info > .msg-detail {
    padding-bottom: 12px;
    overflow: hidden;
}

.middle-container .middle-content > .msg-container .msg-item > .msg-info > .msg-detail > span {
    float: left;
    padding-left: 0;
}

.middle-container .middle-content > .msg-container .msg-item > .msg-info > .msg-content {
    position: relative;
    color: #000;
    background: #fff;
    padding: 10px 20px;
    position: relative;
    border-radius: 6px;
    word-wrap: break-word
}

.middle-container .middle-content > .msg-container .msg-item > .msg-info > .msg-content > .uploadImg {
    max-width: 180px;
    cursor: pointer;
}

.middle-container .middle-content > .msg-container .msg-item > .msg-info > .msg-content .faceImg {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

.middle-container .middle-content > .msg-container .msg-item > .msg-info > .red-pack {
    height: 142px;
    width: 315px;
    background: url("/resources/chat/pc/images/red-pack-bg.png") left top no-repeat;
    word-break: break-all;
    position: relative;
    cursor: pointer;
}

.middle-container .middle-content > .msg-container .msg-item > .msg-info > .red-pack::before {
    content: '';
    background: url("/resources/chat/pc/images/msg-item-orange-arrow.png") right top no-repeat;
    position: absolute;
    width: 33px;
    height: 20px;
    left: -20px;
    top: 0;
}

.middle-container .middle-content > .msg-container .msg-item > .msg-info > .red-pack > .user-name {
    position: absolute;
    left: 115px;
    top: 30px;
}

.middle-container .middle-content > .msg-container .msg-item > .msg-info > .red-pack > .get-red-pack {
    position: absolute;
    left: 115px;
    top: 75px;
    color: #f4ef23;
    cursor: pointer;
    border: none;
    background: transparent;
}

.middle-container .middle-content > .msg-container .msg-item > .msg-info > .red-pack > .get-red-pack:active {
    opacity: 0.6;
}

.middle-container .middle-content > .msg-container .msg-item > .msg-info > .red-pack > .chat-room-red-pack {
    position: absolute;
    left: 20px;
    bottom: 8px;
    color: #ed0f0f;
}

.middle-container .middle-content > .msg-container .msg-item > .other > .msg-content::before {
    content: '';
    width: 30px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url(/resources/chat/pc/images/msg-item-white-arrow.png) no-repeat left top;
}

.middle-container .middle-content > .msg-container .msg-item > .owen-msg {
    float: right;
    margin-left: 0px;
    margin-right: 35px;
}

.middle-container .middle-content > .msg-container .msg-item > .msg-user-icon {
    margin-right: 0;
}

@media screen and (max-width: 1366px) {
    .middle-container .middle-content > .msg-container .msg-item > .msg-info {
        max-width: 390px;
    }
}

.middle-container .middle-content > .msg-container .msg-item > .owen-msg > .msg-detail {
    text-align: right;
}

.middle-container .middle-content > .msg-container .msg-item > .owen-msg > .msg-detail > span {
    float: right;
    padding-right: 5px;
    padding-left: 0;
}

.middle-container .middle-content > .msg-container .msg-item > .owen-msg > .msg-content {
    background: #ffc200;
}

.middle-container .middle-content > .msg-container .msg-item > .owen-msg > .msg-content::before {
    content: '';
    width: 30px;
    height: 20px;
    position: absolute;
    top: -1px;
    right: -20px;
    background: url(/resources/chat/pc/images/msg-item-gold-arrow.png) no-repeat right top;
}

.middle-container .middle-content .middle-join-room-container {
    height: 240px;
    background: red;
    position: absolute;
    left: 0;
    bottom: 0;
}

.middle-container .middle-content .middle-join-room-container .join-room-user-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffc200;
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    transition: all 2s ease-in-out;
    font-size: 14px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    padding-right: 10px;
    border-radius: 0 8px 8px 0;
}

.middle-container .middle-content .middle-join-room-container .move-to-hide {
    animation: move-to-hide ease-in-out 2.5s;
}

@keyframes move-to-hide {
    0% {
        transform: translate3d(0, 0, 0);
        font-size: 14px;
        opacity: 0;
    }
    70% {
        transform: translate3d(0, -60px, 0);
        font-size: 16px;
        opacity: 1;
    }
    100% {
        transform: translate3d(0, -100px, 0);
        font-size: 16px;
        opacity: 0;
    }
}

.middle-container .wirte-container {
    width: 100%;
    height: 173px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.middle-container .wirte-container .write-container-menu {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.middle-container .wirte-container .write-container-menu > ul {
    margin-left: 30px;
}

.middle-container .wirte-container .write-container-menu > ul > li {
    float: left;
    margin-right: 18px;
    position: relative;
}

.middle-container .wirte-container .write-container-menu > ul > li #sendImgBtn {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 33px;
    height: 33px;
}

.middle-container .wirte-container .write-container-form {
    padding: 0 30px;
}

.middle-container .wirte-container .write-container-form .editor-container {
    display: flex;
    justify-content: space-between;
}

.middle-container .wirte-container .write-container-form .editor-container .editor .uploadImg {
    height: 40px;
    width: auto;
}

.middle-container .wirte-container .write-container-form .editor-container .editor {
    width: 100%;
    height: 78px;
    border-radius: 5px;
    padding: 15px 10px;
    border: 1px solid #d6ae71;
    overflow: auto;
    color: #fff;
    font-size: 14px;
}

.middle-container .wirte-container .write-container-form .msg-send-btn {
    width: 113px;
    height: 110px;
    background: #bd9132;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-left: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor img {
    width: 25px;
    height: 25px;
}

#faceBox img {
    width: 25px;
    height: 25px;
}

.price-modal-mask {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
}

.price-modal-mask .text-container {
    width: 706px;
    height: 559px;
    background: url("/resources/chat/pc/images/prize-modal.png") center center no-repeat;
    position: relative;
    top: -110px;
}

.price-modal-mask .text-container .price-info {
    width: 533px;
    height: 77px;
    position: absolute;
    bottom: 32px;
    left: 50%;
    margin-left: -250px;
    font-size: 30px;
    color: #e74829;
    line-height: 1.2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-modal-mask .text-container .price-modal-mask-close-btn {
    position: absolute;
    right: 10px;
    bottom: 120px;
    color: #f00;
    background: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
}

.login-modal-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
}

.login-modal-mask .login-form-container {
    padding: 40px;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
}

.login-modal-mask .login-form-container > button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.login-modal-mask .login-form-container > button:hover {
    opacity: 0.8;
}

.login-modal-mask .login-form-container > button:active {
    color: #f00;
}

.login-modal-mask .login-form-container .login-form-control {
    width: 268px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7px;
    background: #fff;
    border-radius: 4px;
    position: relative;

}

.login-modal-mask .login-form-container .login-form-control:first-child {
    margin-top: 20px;
}

.login-modal-mask .login-form-container .login-form-control:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-modal-mask .login-form-container .login-form-control:nth-child(3) {
    margin-bottom: 20px;
}

.login-modal-mask .login-form-container .login-form-control > img {
    margin-right: 7px;
}

.login-modal-mask .login-form-container .login-form-control > input {
    width: 240px;
    border: none
}

.login-modal-mask .login-form-container .submit {
    background: #79450a;
}

.login-modal-mask .login-form-container .submit:active {
    background: #8a561b;
}

.login-modal-mask .login-form-container .submit > input {
    width: 260px;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

#faceBox {
    width: 300px;
    height: 130px;
    background: #fff;
    padding-right: 5px;
    border-radius: 4px;
    box-shadow: 0 0 2px #666;
}

#faceBox > img {
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.redbag-modal-mask, .redbag-empty-modal-mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

redbag-empty-modal-mask {
    display: flex;
}

.redbag-modal-mask .redbag-modal-container,
.redbag-empty-modal-mask .redbag-empty-modal-container {
    width: 305px;
    height: 417px;
    background: url("/resources/chat/pc/images/redbag-bg.png") left top no-repeat;
    text-align: center;
    color: #fff;
    position: relative;
}

.redbag-modal-mask .redbag-modal-container button.redbag-modal-mask-close-btn,
.redbag-empty-modal-mask .redbag-empty-modal-container button.redbag-empty-modal-mask-close-btn {
    border: none;
    background: transparent;
    position: absolute;
    top: 0px;
    right: 5px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.redbag-modal-mask .redbag-modal-container button.redbag-modal-mask-close-btn:hover,
.redbag-empty-modal-mask .redbag-empty-modal-container button.redbag-empty-modal-mask-close-btn:hover {
    opacity: 0.8;
}

.redbag-modal-mask .redbag-modal-container button.redbag-modal-mask-close-btn:active,
.redbag-empty-modal-mask .redbag-empty-modal-container button.redbag-empty-modal-mask-close-btn:active {
    color: #f00;
}

.redbag-modal-mask .redbag-modal-container .redbag-modal-container-give-user-info,
.redbag-empty-modal-mask .redbag-empty-modal-container .redbag-empty-modal-container-give-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.redbag-modal-mask .redbag-modal-container .redbag-modal-container-give-user-info > img,
.redbag-empty-modal-mask .redbag-empty-modal-container .redbag-empty-modal-container-give-user-info > img {
    border-radius: 50%;
    margin-bottom: 5px;
}

.redbag-modal-mask .redbag-modal-container .redbag-modal-container-give-user-msg,
.redbag-empty-modal-mask .redbag-empty-modal-container .redbag-empty-modal-container-give-user-msg {
    margin-top: 30px;
    font-size: 16px;
}

.redbag-modal-mask .redbag-modal-container .redbag-modal-container-get-amount {
    margin-top: 77px;
    font-size: 48px;
    color: #f0ff00;
}

.redbag-empty-modal-mask .redbag-empty-modal-container .redbag-empty-modal-container-get-amount {
    margin-top: 77px;
    font-size: 30px;
    color: #f0ff00;
}

.redbag-modal-mask .redbag-modal-container .redbag-modal-container-get-amount > small,
.redbag-empty-modal-mask .redbag-empty-modal-container .redbag-empty-modal-container-get-amount > small {
    font-size: 30px;
    color: #fff;
}

.redbag-modal-mask .redbag-modal-container .redbag-modal-container-read-my-redbag,
.redbag-empty-modal-mask .redbag-empty-modal-container .redbag-empty-modal-container-read-my-redbag {
    margin-top: 66px;
    margin-bottom: 5px;

}

.redbag-modal-mask .redbag-modal-container .redbag-modal-container-read-my-redbag > a,
.redbag-empty-modal-mask .redbag-empty-modal-container .redbag-empty-modal-container-read-my-redbag > a {
    font-size: 14px;
    color: #fff;
}

.redbag-modal-mask .redbag-modal-container .redbag-modal-container-tips,
.redbag-empty-modal-mask .redbag-empty-modal-container .redbag-empty-modal-container-tips {
    font-size: 14px;
}

.my-redbag-modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.my-redbag-modal-mask .my-redbag-container {
    width: 424px;
    height: 307px;
    background: #9f782f;
    position: relative;
    border-radius: 5px;
}

.my-redbag-modal-mask .my-redbag-container #red-bag-list-container {

}

.my-redbag-title {
    color: #000;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 16px;
    padding-bottom: 13px;
}

.my-redbag-modal-mask .my-redbag-container .tab-title {
    width: 352px;
    height: 40px;
    margin: 0 auto;
    margin-top: 55px;
    text-align: center;
    border-bottom: 1px solid #d0bd99;
}

.my-redbag-modal-mask .my-redbag-container .my-redbag-table {
    height: 150px;
    width: 352px;
    background: transparent;
    margin: 10px auto 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.my-redbag-modal-mask .my-redbag-container .my-redbag-table .my-redbag-table-item {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-align: center;
    color: #fff;
    line-height: 30px;
}

.my-redbag-modal-mask .my-redbag-container .my-redbag-table .not-more {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ddd;
    font-size: 12px;

}

.my-redbag-modal-mask .my-redbag-container .my-redbag-table .my-redbag-table-item .id {
    width: 80px;
}

.my-redbag-modal-mask .my-redbag-container .my-redbag-table .my-redbag-table-item .price {
    width: 75px;
}

.my-redbag-modal-mask .my-redbag-container .my-redbag-table .my-redbag-table-item .useTime {
    width: 130px;
    font-size: 12px;
}

.my-redbag-modal-mask .my-redbag-container .my-redbag-table .my-redbag-table-item .status {
    width: 65px;
}

.my-redbag-modal-mask .my-redbag-container .my-redbag-table .my-redbag-table-item .pass {
    color: #f00;
}

.my-redbag-modal-mask .my-redbag-container .get-more-bag-list {
    text-align: center;
}

.my-redbag-modal-mask .my-redbag-container .get-red-bag-info {
    text-align: center;
    color: #fff;
    margin-top: 5px;
    font-size: 14px;
}

.my-redbag-modal-mask .my-redbag-container .my-redbag-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #000;
    background: transparent;
    border: none;
    cursor: pointer;
}

.my-redbag-modal-mask .my-redbag-container .my-redbag-close-btn:active {
    opacity: 0.8;
}

table, table tr th, table tr td {
    border: 1px solid #888;
}

table {
    width: 417px;
    min-height: 25px;
    line-height: 25px;
    text-align: center;
    border-collapse: collapse;
    font-size: 12px;
    position: relative;
    left: -1px;
    top: -1px;
}

.person-center {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 4;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.person-center .person-center-container {
    width: 392px;
    height: 90px;
    background: #fff;
    border-radius: 6px;
    padding: 24px 0 13px 0;
    overflow: hidden;
    transition: 0.5s height;
}

.main-content {
    width: 350px;
    height: 85px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.main-content #modify-user-icon {
    border-radius: 50%;
    cursor: pointer;
}

.main-content #modify-user-icon-edit {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: all 0.2s ease;
    color: #fff;
    font-size: 12px;
}

.main-content #modify-user-icon-edit:hover {
    opacity: 1;
}

.main-content #modify-user-icon-edit:active {
    opacity: 0.8;
}

.main-content .modify-show-info, .main-content .modify-select-tab {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    position: relative;
}

.main-content .modify-show-info {
    align-items: flex-start;
    margin-left: 30px;
}

.btn {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btn:active {
    opacity: 0.8;
}

.modify-icon-tab-btn, .modify-password-tab-btn {
    background: #d0a22c;
}

.modify-icon-tab-btn {
    width: 100%;
}

.user-icon-logo, .modify-user-info {
    width: 340px;
    height: 258px;
    margin: 0 auto;
    position: relative;
}

.user-icon-logo .user-icon-logo-title {
    padding-top: 18px;
    padding-bottom: 10px;
    text-align: center;
}

.user-icon-logo .choose-user-icon-container {
    width: 340px;
    background: url("/resources/chat/pc/images/user-icon.png") left top no-repeat;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.choose-user-icon-btn {
    width: 47px;
    height: 47px;
    margin-right: 3px;
    margin-bottom: 10px;
    cursor: pointer;
}

.choose-user-icon-btn:active {
    background: rgba(255, 255, 255, 0.2);
}

.choose-user-icon-btn:nth-child(6) {
    margin-right: 0;
}

.choose-user-icon-btn:nth-child(12) {
    margin-right: 0;
}

.choose-user-icon-btn:nth-child(18) {
    margin-right: 0;
}

.modify-user-info {
    display: none;
}

#userIconForm {
    margin-top: 20px;
}

#userIconFormInput {
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

#modify-form {
    width: 280px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#modify-form .modify-form-control {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 36px;
    font-size: 14px;
}

#modify-user-icon-btn {
    width: 100%;
    background: #d0a22c;
}

#modify-form .modify-form-control .modify-form-control-content {
    width: 210px;
    border: none;
    background: #f3f3f3;
    border-radius: 5px;
    padding: 5px 0;
    text-indent: 1em;
    font-size: 12px;
}

#modify-form .modify-form-control #modify-form-item-username {
    background: transparent;
}

#modify-user-info-close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #d0a22c;
    background: transparent;
    border: none;
    font-size: 20px;
}

#modify-form .modify-form-control > button {
    width: 100px;
    height: 26px;
    background: #d0a22c;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

#modify-form .modify-form-control > button:active {
    opacity: 0.8;
}

.context-menu {
    width: 120px;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 300px;
    background: #fff;
    padding: 10px 0;
    border-radius: 4px;
    box-shadow: 0 0 5px #000;
}

.context-menu button {
    height: 30px;
    text-align: center;
    color: #000;
    transition: all 0.3s ease;
}

.context-menu button:hover {
    background: rgba(200, 200, 200, 0.8);
}

.show-big-img-modal-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
}

