html,body{
	min-width: 1200px;
	height: 100%;
}
.container {
	background: #ddd;
}

.container .head-logo {
	height: 120px;
	background: #adcae7;
}

.container .login-context {
	position: absolute;
	left: 50%;
	top: 120px;
	bottom: 0;
	width: 1200px;
	margin-left: -600px;
	background: #c4d4dd;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
